body {
    background-image: url(../img/backgroundlogin.jpg);
}
#title{
    font-weight: bold;
    text-align: center;
    font-family: 'Lobster Two', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Sansita Swashed', cursive;
}
.login{
    border: 1px solid white;
    width: 600px;
    margin: 200px 400px;  
    margin-left: 480px;
    border-radius: 10px; 
    height: 500px; 
    background-color: lightblue;
}
input{
    width: 315px;
    height: 40px;
    margin-left: 136px;
    margin-bottom: 15px;
    padding: 1px 2px;
    padding-left: 10px  ;
}
.butlog{
    width: 331px;
    height: 40px;
    margin-left: 136px;
    border: none;
    background-color: #5933FF;
    text-align: center;
    font-size: 20px;
    color: black;
}
a{
    text-decoration: none;
}
.asksignin{
    text-align: center;
    margin-top: 10px;
}
.asksignin1{
    color: gray;
    text-decoration: none;
}
.content{
    margin-top: 88px;
}   
.animation {
    position: absolute;
    left: 22%;
    top: -16%;
}
.hello {
    position: absolute;
    left: 40%;
    top: 79%;
}
.hello > h2 {
    color: #3D3B3D;
    font-weight: bolder;
}
.intro {
    width: 35%;
    position: absolute;
    left: 16%;
    animation: intro 4s forwards;
}
@keyframes intro {
    from { top: 0;}
    to { top: 17%;}
}
.intro > p {
    font-family: 'Sansita Swashed', cursive;
    font-size: 30px;
    color: #3D3B3D;
    font-weight: bolder;
}
.intro > img {
    width: 400px;
    height: 200px;
    opacity: 1;
}